/* This CSS is common to all pages */

body {
  margin: 0;
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

.headline {
  font-size: 40px;
  font-weight: bold;
}

.navitem {
  padding: 3px;
}